{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patient Signup Page</title>
    
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="{% static 'images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center" style="height:90vh;">
        <div class="container">
            <div class="col-xl-10 col-lg-11 login-container">
                <div class="row">
                    <div class="col-lg-7 img-box">
                        <img src="{% static 'images/login-banner.png' %}" alt="">
                    </div>
                    <div class="col-lg-5 no-padding">
                        <div class="login-box">
                            <h5>Welcome !!!</h5>

                            <div class="login-row row no-margin">
                                <label for=""><i class='bx bxs-user'></i> Name</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>

                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-envelope"></i> Age</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
            <!-------------------------------------------- Need Modification ------------------------------------------------------------>
                            <div class="login-row row no-margin" style="display: flex; align-items: center;">
                                <label for="" style="margin-right: 10px;"><i class="fas fa-envelope"></i> Gender</label>
                                <div style="display: flex; align-items: center;">
                                    <div style="display: flex; align-items: center; margin-right: 20px;">
                                        <input type="radio" id="male" name="gender" class="form-control form-control-sm" value="male" style="margin-right: 5px;">
                                        <label for="male" style="margin: 0;">Male</label>
                                    </div>
                                    <div style="display: flex; align-items: center;">
                                        <input type="radio" id="female" name="gender" class="form-control form-control-sm" value="female" style="margin-right: 5px;">
                                        <label for="female" style="margin: 0;">Female</label>
                                    </div>
                                </div>
                            </div>                                      
            <!-------------------------------------------------------------------------------------------------------------------------------->
                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-mobile-alt"></i> Mobile Number</label>
                                <input type="numeric" class="form-control form-control-sm">
                            </div>

                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-address-card"></i> Address</label>
                                <textarea class="form-control form-control-sm"></textarea>
                            </div>

                            <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-lock"></i> Password</label>
                                <input type="password" class="form-control form-control-sm">
                            </div>

                             <div class="login-row row no-margin">
                                <label for=""><i class="fas fa-unlock-alt"></i> Re-enter Password</label>
                                <input type="password" class="form-control form-control-sm">
                            </div>

                             <div class="login-row btnroo row no-margin">
                               <button class="btn btn-primary btn-lg"> Sign Up</button>
                            </div>
                            <div class="login-row btnroo row no-margin">
                                <button class="btn btn-light btn-lg" style="width: 220px;"> Continue with Google</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/scroll-fixed/jquery-scrolltofixed-min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</html>
